﻿@model IEnumerable<CS461_M3_Cross_Country.DAL.Athlete>
@{
    ViewBag.Title = "Parent Home";
}

<h2>Parent Home - @ViewBag.ParentName</h2>
<hr />

<h4>My Athletes</h4>
<ul class="list-group">
    @foreach (var athlete in Model)
    {
        <li class="list-group-item list-group-item-light">@Html.ActionLink(athlete.FirstName + " " + athlete.LastName, "AthleteSessions", new { id = athlete.AthleteID })</li>
    }
</ul>

<br />

<h4>Team News</h4>
<ul class="list-group">
    <li class="list-group-item">Put some useful team news items here...</li>
</ul>

