﻿<div class="modal fade" id="canvasData" tabindex="-1" role="dialog" aria-labelledby="canvasData" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">Content Card</div>
            <div id="canvasOverlay" class="modal-body">Test overlay data</div>
        </div>
    </div>
</div>
