﻿
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">Welcome to the second technical demonstration of the Cross Country Tracker.</p>
    <hr class="my-4">
    <p>
        This page includes demonstrations of the features that will be included in the final tracker.
        Remember: This is only a technical demo and not the final version of this project.
    </p>
</div>

<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
    <div class="card-header">New Updates!</div>
    <div class="card-body">
        <h4 class="card-title">Check out our new updates!</h4>
        <p class="card-text">This site has been enhanced with additional demo functionality. Go check it out!</p>
    </div>
</div>
